//====================================================================================================

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3 + px) {
		display: block;
		position: fixed;
		top: 51px;
		right: 30px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				background-color: #fff;
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
.header {
	background: url("../img/promo/promo-bg.jpg") no-repeat right center,
		url("../img/icons/decorations/oval-2.svg") no-repeat right center,
		url("../img/icons/decorations/oval-3.svg") no-repeat right center,
		url("../img/icons/decorations/oval-4.svg") no-repeat right center;
	background-size: cover;
	background-color: #fafafb;
	padding-top: 30px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 88%;
		left: 35%;
		width: 16px;
		height: 16px;
		background: url("../img/icons/decorations/oval-1.svg") no-repeat center center;
	}
	&::after {
		content: "";
		position: absolute;
		top: 42%;
		left: 46%;
		width: 36px;
		height: 36px;
		background: url("../img/icons/decorations/triangle.svg") no-repeat center center;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
	}
	&-second {
		padding: 30px 0 20px 0;
		background: #f6f6f6;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
	}
	&-main {
		flex-basis: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__logo {
			font-weight: bold;
			font-size: 52px;
			line-height: 63px;
			color: #e1e1e1;
			display: block;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 10px;
				right: -35px;
				width: 2px;
				height: 40px;
				background: $mainColor;
				border: 1px solid #89afef;
			}
		}
		&__desc {
			width: 193px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #5d5d5d;
		}
		&__btn {
			background: $btnColor;
			box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
			border-radius: 3px;
			&:hover {
				box-shadow: 0px 10px 15px rgba(240, 116, 28, 0.451);
			}
		}
	}
	&-contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		&__phone {
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			color: #333333;
			display: block;
			position: relative;
			&:hover {
				color: #000000;
			}
			&::before {
				content: "";
				position: absolute;
				top: 4px;
				left: -23px;
				background: url("../img/icons/contact/call.svg") no-repeat center center;
				width: 16px;
				height: 16px;
			}
		}
		&__email {
			font-weight: 500;
			font-size: 17px;
			line-height: 20px;
			color: #333333;
			margin-top: 3px;
			display: block;
			position: relative;
			&:hover {
				color: #000000;
			}
			&::before {
				content: "";
				position: absolute;
				top: 2px;
				left: -23px;
				background: url("../img/icons/contact/mail.svg") no-repeat center center;
				width: 16px;
				height: 16px;
			}
		}
	}
	&-nav {
		width: 100%;
		& .social {
			visibility: hidden;
			opacity: 0;
			display: none;
		}
		& .header-contacts {
			visibility: hidden;
			opacity: 0;
			display: none;
		}
		&__list {
			margin-top: 31px;
			flex-basis: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__item {
			position: relative;
			text-align: center;
			margin-right: 40px;
			padding-bottom: 3px;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 1px;
				background: #333333;
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
			}
			&:hover {
				&::before {
					width: 100%;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			color: #333333;
		}
	}
}
.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 165px;
	height: 44px;
	&__link {
		width: 43px;
		height: 43px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 13px 12px 13px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		&:hover {
			transform: scale(1.08);
			-webkit-transform: scale(1.08);
			-moz-transform: scale(1.08);
			-ms-transform: scale(1.08);
			-o-transform: scale(1.08);
		}
		& svg {
			width: 18px;
			height: 18px;
		}
	}
	&__whatsapp {
		background: #2dd038;
		box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
		&:hover {
			background: #13c51e;
		}
	}
	&__viber {
		background: #7b519d;
		box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
		&:hover {
			background: #6a2c9c;
		}
	}
	&__telegram {
		background: #5bbaf0;
		box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
		&:hover {
			background: #2a91cc;
		}
	}
}
.btn {
	padding: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
	width: 195px;
	height: 44px;
}
