@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 767;
$md4: 480;

$mainColor: #b3c9ff;
$btnColor: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background: #fffdfd;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: 1170px;
	margin: 0 auto;
	@media (max-width: 1199px) {
		max-width: 970px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 768px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "swiper-bundle.min";
@import "aos";
@import "popup";
@import "header";
@import "blocks/promo";
@import "blocks/documents";
@import "blocks/guarantees";
@import "blocks/programs";
@import "blocks/sertificate";
@import "blocks/news";
@import "footer";
@import "blocks/media";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.title {
	font-weight: 800;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	color: #333333;
}

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	background: #fafafa;
}
::-webkit-scrollbar-thumb {
	background: $btnColor;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
