.promo {
	margin-top: 26px;
	&::before {
		content: "";
		position: absolute;
		top: 27%;
		left: 28%;
		width: 27px;
		height: 27px;
		background: url("../img/icons/decorations/oval-3.svg") no-repeat center center;
	}
	&::after {
		content: "";
		position: absolute;
		top: 35%;
		left: 14%;
		width: 36px;
		height: 36px;
		background: url(../img/icons/decorations/triangle.svg) no-repeat center center;
		transform: rotate(100deg);
	}
	&__wrapper {
		display: flex;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			top: 64%;
			left: 17%;
			width: 27px;
			height: 27px;
			background: url("../img/icons/decorations/oval-1.svg") no-repeat center center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 73%;
			left: 44%;
			width: 40px;
			height: 40px;
			background: url(../img/icons/decorations/triangle-2.svg) no-repeat center center;
		}
	}
	&-body {
		&__title {
			width: 675px;
			font-weight: 900;
			font-size: 40px;
			line-height: 51px;
			color: #333333;
		}

		&__desc {
			margin-top: 30px;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			color: #333333;
			span {
				font-weight: 800;
				font-size: 24px;
				line-height: 31px;
				color: #333333;
			}
		}

		&__btn {
			display: block;
			padding-top: 16px;
			width: 211px;
			height: 50px;
			background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
			box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
			border-radius: 3px;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			margin-top: 33px;
			&:hover {
				box-shadow: 0px 18px 20px rgba(132, 170, 237, 0.454846);
			}
		}
	}
}
