@media (max-width: 1440px) {
	.header {
		background: #afc1ec;
		&-second {
			.header {
				&-main {
					&__logo {
						color: #e1e1e1;
					}
				}
			}
		}
		&-main {
			&__logo {
				color: #fafafa;
			}
			&__desc {
				color: #404040;
			}
		}
		&-contacts {
			&__phone {
				&::before {
					background: url("../img/icons/contact/call-2.svg") no-repeat center center;
				}
			}
			&__email {
				&::before {
					background: url("../img/icons/contact/mail-2.svg") no-repeat center center;
				}
			}
		}
		&-nav {
			&__link {
				color: rgb(7, 7, 7);
			}
		}
	}
}
@media (max-width: 1199px) {
	.header {
		&::after {
			top: 41%;
			left: 46%;
		}
		&-main {
			&__logo {
				font-size: 50px;
				&::after {
					right: -14px;
				}
			}
		}
		&-contacts {
			margin-left: 30px;
		}
	}
	.btn {
		width: 175px;
	}
	.promo {
		&::before {
			top: 28%;
			left: 24%;
		}
		&::after {
			top: 34%;
			left: 7%;
		}
		&__wrapper {
			&::before {
				top: 64%;
				left: 3%;
			}
		}
		&-body {
			&__title {
				width: 596px;
				font-size: 36px;
			}
		}
	}
	.documents {
		&__wrapper {
			grid-template-columns: repeat(4, 223px);
			gap: 25px;
		}
	}
	.guarantees {
		&__wrapper {
			grid-template: minmax(265px, auto) / repeat(3, minmax(250px, auto));
			gap: 25px 40px;
		}
	}
	.programs {
		&::before {
			right: 18%;
		}
		&::after {
			right: 23%;
		}
		&-slider {
		}
	}
	.sertificate {
		&::before {
			right: 18%;
		}
		&::after {
			right: 15%;
		}
		&-slider {
			width: 78% !important;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
	}
	.news {
		&__wrapper {
			grid-template: minmax(348px, auto) / 421px repeat(2, 254px);
			justify-content: center;
			column-gap: 20px;
		}
		&-stock {
			padding: 41px 25px;
			align-items: center;
			&__title {
				width: 205px;
			}
			&__decs {
				width: 208px;
			}
			&__img {
				margin-top: -80px;
				img {
					width: 215px;
				}
			}
		}
		&-item {
			&_second {
			}
		}
	}
	.footer {
		&-services {
			flex-basis: 25%;
		}
		&-menu {
			flex-basis: 28%;
		}
		&-contacts {
			flex-basis: 36%;
		}
	}
	.attestation {
		&__wrapper {
			&::before {
				left: 25%;
			}
		}
		&-desc {
			margin-left: 35px;
			width: 380px;
			&__title {
				font-size: 36px;
			}
		}
		&-must {
			&__list {
				padding-left: 60px;
			}
		}
	}
}
@media (max-width: 992px) {
	.header {
		&::after {
			top: 45%;
			left: 49%;
		}
		&-main {
			flex-wrap: wrap;
			&__logo {
				font-size: 45px;
				&::after {
					right: -14px;
				}
			}
			&__btn {
				display: none;
			}
		}
		&-contacts {
			margin-left: 30px;
		}
		&-nav {
			&__link {
				font-size: 14px;
			}
		}
	}
	.btn {
		width: 195px;
	}
	.promo {
		&::before {
			top: 31%;
			left: 27%;
		}
		&::after {
			top: 37%;
			left: 7%;
		}
		&__wrapper {
			&::after {
				top: 75%;
				left: 49%;
			}
		}
		&-body {
			&__title {
				width: 465px;
				font-size: 28px;
			}
		}
		&-img {
			img {
				width: 310px;
			}
		}
	}
	.documents {
		&__wrapper {
			grid-template-columns: repeat(3, 230px);
			gap: 30px;
		}
	}
	.guarantees {
		&__wrapper {
			grid-template: minmax(265px, auto) / repeat(2, minmax(250px, auto));
			gap: 25px 40px;
		}
	}
	.programs {
		&::before {
			top: auto;
			right: auto;
			left: 5%;
			bottom: 17%;
		}
		&::after {
			right: 11%;
			top: 15%;
		}
		&-slider {
		}
	}
	.sertificate {
		&::before {
			top: 19%;
			right: 4%;
			transform: rotate(75deg);
		}
		&::after {
			top: auto;
			bottom: 6%;
			right: 87%;
		}
		&-slider {
			width: 66% !important;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
		&__arrow {
			&_next {
				right: 57px;
			}
			&_prev {
				left: 57px;
			}
		}
	}
	.news {
		&__wrapper {
			grid-template: repeat(2, minmax(348px, auto)) / repeat(2, minmax(262px, auto));
			justify-content: center;
			row-gap: 25px;
			grid-template-areas:
				"main main"
				"first second";
			&::before {
				bottom: -5%;
				left: 3%;
			}
			&::after {
				top: 48%;
				right: 1%;
				bottom: auto;
				left: auto;
			}
		}
		&-stock {
			width: 100%;
			grid-area: main;
			align-items: start;
			&__title {
				width: 272px;
			}
			&__desc {
				width: 241px;
			}
			&__img {
				margin: 0;
				img {
					width: 250px;
				}
			}
		}
		&-item {
			grid-area: first;
			&_second {
				grid-area: second !important;
			}
		}
	}
	.footer {
		&__wrapper {
			flex-wrap: wrap;
		}
		&-services {
			flex-basis: 48%;
		}
		&-menu {
			flex-basis: 48%;
		}
		&-contacts {
			flex-basis: 100%;
			margin-top: 20px;
		}
	}
	.attestation {
		&__wrapper {
			&::before {
				left: auto;
				right: 30%;
				transform: rotate(75deg);
				-webkit-transform: rotate(75deg);
				-moz-transform: rotate(75deg);
				-ms-transform: rotate(75deg);
				-o-transform: rotate(75deg);
			}
			&::after {
				right: 60%;
			}
		}
		&-img {
			display: none;
		}
		&-desc {
			width: 430px;
		}
		&-must {
			&__list {
				padding-left: 50px;
			}
		}
	}
}

@media (max-width: 767px) {
	.header {
		&::after {
			top: 77%;
			left: 75%;
		}
		&::before {
			top: 75%;
			left: 10%;
		}
		&-main {
			justify-content: start;
			&__btn {
				display: none;
			}
			&__logo {
				margin-right: 35px;
			}
		}
		&-contacts {
			display: none;
		}
		&-nav {
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			top: -125%;
			left: 0;
			position: fixed;
			background: #000;
			width: 100%;
			height: 100vh;
			display: flex;
			z-index: 5;
			&__list {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;
			}
			&__item {
				margin: 0;
				padding: 12px 15px;
				&::before {
					background: #fafafa;
				}
			}
			&__link {
				color: #fafafa;
				font-size: 17px;
				line-height: 24px;
			}
			& .social {
				display: flex;
				visibility: visible;
				opacity: 1;
				position: absolute;
				bottom: 60px;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
			}
			& .header-contacts {
				display: flex;
				visibility: visible;
				opacity: 1;
				position: absolute;
				bottom: 200px;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				margin-left: 0;
				&__phone {
					font-size: 19px;
				}
				&__email {
					margin-top: 10px;
				}
				& a {
					color: #fff;
				}
			}
			&._active {
				margin-top: 0;
				background: #000;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.social {
		display: none;
	}
	.promo {
		padding-bottom: 40px;
		&::before {
			top: 20%;
			left: 20%;
		}
		&::after {
			top: 43%;
			left: 3%;
		}
		&__wrapper {
			flex-wrap: wrap-reverse;
			justify-content: center;
			&::before {
				top: 11%;
				left: 75%;
			}
			&::after {
				top: 38%;
				left: 82%;
				transform: rotate(169deg);
			}
		}
		&-body {
			&__title {
				width: 75%;
				text-align: center;
				margin: 0 auto;
				line-height: 45px;
				font-size: 27px;
			}
			&__desc {
				text-align: center;
				margin-top: 18px;
			}
			&__btn {
				display: block;
				margin: 25px auto 0 auto;
			}
		}
		&-img {
			margin-bottom: 7px;
			img {
				width: 275px;
			}
		}
	}
	.documents {
		&__wrapper {
			grid-template-columns: repeat(2, minmax(230px, auto));
			gap: 30px;
		}
		&-item {
			&:hover {
				transform: scale(1);
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
			}
		}
	}
	.sertificate {
		&-slider {
			width: 481px !important;
			margin-top: 80px;
		}
		&__arrow {
			top: -40px;
			width: 20px;
			height: 30px;
			&_next {
				right: 40%;
			}
			&_prev {
				left: 40%;
				right: 150px;
			}
		}
	}
	.attestation {
		padding-top: 0px;
		&__wrapper {
			background: none;
			background: #f6f6f6;
			flex-direction: column-reverse;
			justify-content: center;
			padding-top: 15px;
			padding-bottom: 39px;
			&::before {
				left: auto;
				right: 9%;
				top: 33%;
				transform: rotate(75deg);
				-webkit-transform: rotate(75deg);
				-moz-transform: rotate(75deg);
				-ms-transform: rotate(75deg);
				-o-transform: rotate(75deg);
			}
			&::after {
				right: auto;
				left: 10%;
			}
		}
		&-img {
			display: block;
		}
		&-desc {
			width: 500px;
			margin-left: 0;
			text-align: center;
			margin-bottom: 25px;
		}
		&-must {
			&__list {
				padding-left: 20px;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		&-main {
			&__desc {
				display: none;
			}
			&__logo {
				&::after {
					right: -22px;
				}
			}
		}
	}
	.promo {
		padding-bottom: 40px;
		&__wrapper {
			flex-wrap: wrap-reverse;
			justify-content: center;
		}
		&-body {
			&__title {
				width: 90%;
				text-align: center;
				margin: 0 auto;
				line-height: 38px;
				font-size: 24px;
			}
			&__desc {
				text-align: center;
				margin-top: 18px;
			}
			&__btn {
				display: block;
				margin: 25px auto 0 auto;
			}
		}
		&-img {
			margin-bottom: 7px;
			img {
				width: 260px;
			}
		}
	}
	.documents {
		&__wrapper {
			grid-template-columns: minmax(300px, 90%);
			justify-content: center;
			gap: 30px 0px;
		}
	}
	.title {
		font-size: 30px !important;
		line-height: 38px !important;
	}
	.guarantees {
		&__wrapper {
			grid-template: minmax(265px, auto) / 250px;
			gap: 20px 0px;
			justify-content: center;
		}
	}
	.sertificate {
		&-slider {
			width: 220px !important;
		}
		&-slide {
			margin-right: 0px !important;
		}
	}
	.news {
		&__wrapper {
			grid-template: repeat(3, minmax(348px, auto)) / minmax(300px, 90%);
			grid-auto-rows: minmax(348px, auto);
			justify-content: center;
			row-gap: 25px;
			grid-template-areas:
				"main"
				"first"
				"second";
		}
		&-stock {
			width: 100%;
			grid-area: main;
			align-items: start;
			&__title {
				width: 272px;
				span {
					color: #1f4fa0;
				}
			}
			&__desc {
				width: 241px;
			}
			&__img {
				display: none;
				margin: 0;
				img {
					width: 250px;
				}
			}
		}
		&-item {
			justify-self: center;
			grid-area: first;
			&_second {
				grid-area: second !important;
			}
		}
	}
	.footer {
		&__wrapper {
			flex-wrap: wrap;
		}
		&-services {
			flex-basis: 90%;
		}
		&-menu {
			flex-basis: 90%;
			margin-top: 20px;
		}
		&-contacts {
			flex-basis: 90%;
			margin-top: 20px;
		}
	}
	.attestation {
		&-desc {
			width: 95%;
			&__title {
				text-align: center;
				font-size: 28px;
				line-height: 35px;
			}
		}
	}
}
